<div>
    <div style="width: 90vw; height: 90vh; display: flex; justify-content: center; align-items: center;" *ngIf="!complete">
        <mat-spinner></mat-spinner>
    </div>
    
    
    <div [ngStyle]="{display: (complete) ? 'block' : 'none'}">
        <table mat-table [dataSource]="data" matSort >
            <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="image" >
                <th mat-header-cell *matHeaderCellDef > Image </th>
                <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" style="width: 150px; height: 100px;"> </td>
            </ng-container>
    
            <ng-container matColumnDef="loc" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.loc}} </td>
            </ng-container>
    
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date and Time </th>
                <td mat-cell *matCellDef="let element"> {{element.time.getDate()}} - {{element.time.getMonth()}} {{element.time.getYear()+ 1890}}, {{element.time.getHours()}}:{{element.time.getMinutes()}} </td>
            </ng-container>
            <ng-container>
                <button>Update</button>
                <button>Delete</button>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[10]">
        </mat-paginator>
    </div>
</div>