<div class="logo">
    <img src="https://www.tiket.com/myaccount/assets/tiket-logo-member.png">
</div>

<div *ngIf="user">
    <img src="{{ user.photoUrl }}">
    <div>
        <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p>
    </div>
</div>

<div class="row">
    <div class="box-left">
        <div class="card-left">
            <div class="itemHeader">
                <b>Gabung dan gunakan fitur mudahnya.</b>
            </div>
            <div class="itemList">
                <div class="media"><img src="https://www.tiket.com/myaccount/assets/smart-profile.png"></div>
                <div class="content">
                    <b>Smart Profile</b>
                    <div>Pesan lebih cepat. Cukup dengan satu klik untuk lengkapi detail penumpang.</div>
                </div>
            </div>
            <div class="itemList">
                <div class="media"><img src="https://www.tiket.com/myaccount/assets/tix.png"></div>
                <div class="content"><b>TIX Point & TIX Spot</b>
                    <div>Dapatkan dan kumpulkan poinnya lalu tukarkan dengan rewards atau diskon.</div>
                </div>

            </div>
            <div class="itemList">
                <div class="media"><img src="https://www.tiket.com/myaccount/assets/smart-pay.png"></div>
                <div class="content"><b>Smart Pay</b>
                    <div>Tangani semua pembayaran dan transaksi dengan cepat dan aman.</div>
                </div>
            </div>
            <div class="itemList">
                <div class="media"><img src="https://www.tiket.com/myaccount/assets/scheduler.png"></div>
                <div class="content"><b>Smart Reschedule & Daftar Refund</b>
                    <div>Urus semua pengajuan reschedule dan refund untuk pesananmu tanpa repot.</div>
                </div>
            </div>
        </div>
    </div>


    <app-card-right></app-card-right>
</div>

<app-default-footer></app-default-footer>