<div class="logo">
    <img src="https://www.tiket.com/myaccount/assets/tiket-logo-member.png">
</div>

<div class="row">
    <div class="box-left">
        <div class="card-left">
            <div class="itemHeader">
                <b>Gabung dan gunakan fitur mudahnya.</b>
            </div>
            <div class="itemList">
                <div class="media"><img src="https://www.tiket.com/myaccount/assets/smart-profile.png"></div>
                <div class="content">
                    <b>Smart Profile</b>
                    <div>Pesan lebih cepat. Cukup dengan satu klik untuk lengkapi detail penumpang.</div>
                </div>
            </div>
            <div class="itemList">
                <div class="media"><img src="https://www.tiket.com/myaccount/assets/tix.png"></div>
                <div class="content"><b>TIX Point & TIX Spot</b>
                    <div>Dapatkan dan kumpulkan poinnya lalu tukarkan dengan rewards atau diskon.</div>
                </div>

            </div>
            <div class="itemList">
                <div class="media"><img src="https://www.tiket.com/myaccount/assets/smart-pay.png"></div>
                <div class="content"><b>Smart Pay</b>
                    <div>Tangani semua pembayaran dan transaksi dengan cepat dan aman.</div>
                </div>
            </div>
            <div class="itemList">
                <div class="media"><img src="https://www.tiket.com/myaccount/assets/scheduler.png"></div>
                <div class="content"><b>Smart Reschedule & Daftar Refund</b>
                    <div>Urus semua pengajuan reschedule dan refund untuk pesananmu tanpa repot.</div>
                </div>
            </div>
        </div>
    </div>


    <div class="card-right">
        <div class="signup-text">Log in/Daftar</div>
        <div class="signup-text-desc">Perjalanan serumu dimulai di sini.</div>
        <div class="input-wrap">
            <div class="hasLabel">
                <input name="username" type="text" placeholder="Nomor Ponsel atau Email">
            </div>
        </div>
        <div class="input-wrap">
            <button type="button" class="btn-custom">Lanjutkan</button>
        </div>
        <div class="hr-with-txt"><span>atau dengan</span></div>
        <div class="social-network-wrap">
            <div class="btn-socmed">
                <div class="content">
                    <img src="https://www.tiket.com/myaccount/assets/a02b4efb.svg">
                </div>
                <span>Google</span>
            </div>
            <hr class="btn-divider">
            <div class="btn-socmed">
                <div class="content">
                    <img src="https://www.tiket.com/myaccount/assets/e6065a6f.svg">
                </div>
                <span>Facebook</span>
            </div>
        </div>
        <div class="agree-signup">Dengan mendaftar kamu menyetujui <a href="/privacy-policy">Kebijakan Privasi</a> dan
            <a href="/tos">Syarat &amp;
                Ketentuan</a> kami.<div class="hr"></div>
        </div>
    </div>
</div>

<app-default-footer></app-default-footer>