<div style="border: 1px solid chocolate; margin-top: 100px; padding: 20px;">
    <div style=" display: flex; justify-content: center; align-content: center;">
        <div style="margin: auto 15px;">Filter</div>
        <button mat-button (click)="reset()">Reset</button>
    </div>

    <div style=" display: flex; justify-content: center; align-content: center;">
        <div>
            <mat-form-field class="example-margin">
                <mat-label>Min</mat-label>
                <input matInput type="number" [(ngModel)]="this.data.value" disabled>
            </mat-form-field>
            <mat-slider (input)="changeSlider($event)" class="example-margin" [max]="this.data.value1"
                [min]="this.data.min" [(ngModel)]="this.data.value" [vertical]="vertical">
            </mat-slider>
        </div>
        <div>
            <mat-form-field class="example-margin">
                <mat-label>Max</mat-label>
                <input matInput type="number" [(ngModel)]="this.data.value1" disabled>
            </mat-form-field>
            <mat-slider (input)="changeSlider1($event)" class="example-margin" [disabled]="disabled" [invert]="invert"
                [max]="this.data.max" [min]="this.data.value" [step]="this.data.step" [thumbLabel]="thumbLabel"
                [tickInterval]="getSliderTickInterval()" [(ngModel)]="this.data.value1" [vertical]="vertical">
            </mat-slider>
        </div>
    </div>

    <div style=" display: flex; justify-content: space-evenly; align-content: center; ">
        <div>
            Kapasitas
        </div>
        <mat-checkbox [(ngModel)]="this.data.less5">
            less 5 Penumpang </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.or6">
            5 - 6 Penumpang
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.more6">
            more 6 Penumpang
        </mat-checkbox>
    </div>

    <div style=" display: flex; justify-content: space-evenly; align-content: center; ">
        <div>
            Merek Mobil
        </div>
        <mat-checkbox [(ngModel)]="this.data.toyota">
            Toyota
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.daihatsu">
            Daihatsu
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.wuling">
            Wuling
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.suzuki">
            Suzuki
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.nissan">
            Nissan
        </mat-checkbox>
    </div>

    <div style=" display: flex; justify-content: space-evenly; align-content: center; ">
        <div>
            Tipe Mobil
        </div>
        <mat-checkbox [(ngModel)]="this.data.apv">
            APV
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.agya">
            Agya
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.all_new_alphard">
            All New Aphard
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.all_new_avanza">
            All New Avanza
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="this.data.grand_livina">
            Grand Livina
        </mat-checkbox>
    </div>
</div>