<app-navbar></app-navbar>
<div *ngIf="!detail">
    <widget-sewa-mobil (click)="doClick()"></widget-sewa-mobil>
    <div *ngIf="click">
        <app-car-filter></app-car-filter>
        <div style="display: flex; justify-content: center; margin: 10px;">
            <button (click)="doFilter()">Do Filter</button>
        </div>
        <div>
            <mat-expansion-panel style="width: auto; height: auto; display: flex; flex-direction: column;">
                <mat-expansion-panel-header style="font-size: small;">
                    <mat-panel-title>
                        {{urutkan}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div>
                    <button mat-button (click)="changeUrutkan('Harga Terendah')">Harga Terendah</button>
                </div>
                <div>
                    <button mat-button (click)="changeUrutkan('Harga Tertinggi')">Harga Tertinggi
                    </button>
                </div>
                <div>
                    <button mat-button (click)="changeUrutkan('Rekomendasi')">Rekomendasi
                    </button>
                </div>
            </mat-expansion-panel>

        </div>
        <div infinite-scroll [infiniteScrollDistance]="scrollDistance" (scrolled)="onScrollDown()">
            <div *ngFor="let item of array"
                style="width: 46%; margin: 1%; border: 1px solid black; border-radius: 10px; padding: 5px;">
                <div>
                    <div style="font-weight: bold;">{{item.name}}</div>
                    <div>{{item.price}}</div>

                </div>
                <div>
                    {{msg[item.id]}}
                </div>
                <div>
                    <div class="tooltip">
                        <button (click)="openTransit(item)">Transit</button>
                        <span class="tooltiptext">Check Transit</span>
                    </div>

                    <button (click)="openDetail(item)">Click</button>
                </div>
            </div>

        </div>
    </div>
</div>