<div class="footer-subscribe">
    <div class="container">
        <div class="subscribe">
            <div class="subscribe-title">Berlangganan newsletter spesial promo dan penawaran terbaik</div>
        </div>
        <div class="input-button">
            <div class="subscribe">
                <input name="email" type="text" placeholder="Masukkan email Anda" value="">
                <button name="subscribe_btn" type="submit" value="1">BERLANGGANAN</button>
            </div>
        </div>
    </div>
</div>

