<div class="top">
    <div class="pic">
        <img src="https://image.flaticon.com/icons/png/512/215/215825.png">
    </div>
    <div class="mes">
        Cari Sewa Mobil Murah di Sini
    </div>
    <button class="pencarian_terakhir">
        <div class="last">
            Pencarian Terakhir >
        </div>
    </button>
</div>
<div class="mid">
    <div class="left">
        <div class="title">
            Lokasi Sewa
        </div>
        <div class="content">
            <mat-form-field>
                <mat-select [(ngModel)]="selectedCity1" placeholder="Mau Sewa Dimana?">
                    <mat-option *ngFor="let city of cities"  [value]="city.name">
                        {{city.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="center">
        <div>
            <div class="title">
                Tanggal Mulai
            </div>
            <div class="content">
                <mat-form-field>
                    <input id="date1" matInput [matDatepickerFilter]="myFilter1" [matDatepicker]="picker1" placeholder="Tanggal Mulai" 
                        [(ngModel)]="date1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div>
            <div class="title">
                Tanggal Selesai
            </div>
            <div class="content">
                <mat-form-field>
                    <input matInput min="date1" [matDatepicker]="picker2" placeholder="Tanggal Selesai" 
                    [(ngModel)]="date2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="title">
            Jumlah Mobil
        </div>
        <div class="content">
            <mat-form-field>
                <mat-select [(ngModel)]="selectedTamu" placeholder="Mobil">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="buttom">
    <button class="search" (click)="kik()">CARI MOBIL</button>
</div>