<div style="display: flex; justify-content: center; align-items: centers; margin: 10px;">
    <div style="color: black;" class="db">
        1. Pesan >
    </div>
    <div [ngStyle]="{'color': con1 ? 'black' : 'rgba(0,0,0,0.4)'}" class="db">
        2. Bayar >
    </div>
    <div [ngStyle]="{'color': con2 ? 'black' : 'rgba(0,0,0,0.4)'}" class="db">
        3. Selesai
    </div>
</div>

<div>
    {{sec}}
</div>

<div style="border: solid 1px black; padding: 20px;">
    <div>
        <h1>Kereta</h1>
    </div>
    <div class="sp" style="flex-direction: column;">
        <div>{{trainSrc}} - {{trainDst}}</div>
        <div>{{date.getDate()}} {{date.getMonth()}} {{date.getFullYear()}}</div>
        <div>{{date.getHours()}}:{{date.getMinutes()}}</div>
    </div>

    <div>
        <h3>Harga</h3>
    </div>
    <div>
        <div>Pergi</div>
        <div>Dewasa (x{{bought.quantity}}) IDR {{bought.quantity * price}}</div>
    </div>

    <div>
        <h3>Biaya Lainnya</h3>
    </div>
    <div>
        <div>Pajak Termasuk</div>
        <div>Total Pembayaran IDR {{bought.quantity * price}}</div>
    </div>
    <div>
        <button mat-button (click)="xas = !xas">Detail</button>
        <div *ngIf="xas">
            <div>
                {{trainSrc}} -> {{timeGo.getHours()}}:{{timeGo.getMinutes()}}
            </div>
            <div>
                {{trainDst}} -> {{timeArrive.getHours()}}:{{timeArrive.getMinutes()}}
            </div>
        </div>
    </div>
</div>

<div class="card payment-group white">
    <h3 class="payment-group-title">Kartu Kredit/Debit</h3>
    <div *ngFor="let item of banks">
        <div style="width: 100px; height: 75px;" (click)="payment()">
            <img src="item.image" width="100%" height="100%">
        </div>
        <div>
            <h3>
                {{item.name}}
            </h3>
        </div>
        <div>
            <h6>
                {{item.desc}}
            </h6>
        </div>
    </div>

</div>