.top
    border: 1px solid black
    padding: 10px
    display: flex
    flex: 1 1
    .pic
        border: 1px solid black
        margin-right: 5px
        width: 30px
        height: 30px
        border-radius: 15px
        img
            width: 100%
            height: 100%
        
    .mes
        border: 1px solid black
        margin: auto
            left: 0
        
    .pencarian_terakhir
        align-self: flex-end
        border: none
        margin: auto 0
        cursor: pointer
        .last
            color: blue            
            