<div style="display: flex; justify-content: space-around;">
    <div style="width: 100px; cursor: pointer; border: solid 1px gray; display: flex; justify-content: center; align-items: center; background-color: blue; color: white;"
        (click)="facebook()">
        Facebook
    </div>
    <div style="width: 100px; cursor: pointer; border: solid 1px gray; display: flex; justify-content: center; align-items: center; background-color: White; color: red;"
        (click)="mail()">
        Mail
    </div>
    <div style="width: 100px; cursor: pointer; border: solid 1px gray; display: flex; justify-content: center; align-items: center; background-color: green; color: greenyellow;"
        (click)="whatapp()">
        Whatsapp
    </div>
    <div style="width: 100px; cursor: pointer; border: solid 1px gray; display: flex; justify-content: center; align-items: center; background-color: white; color: greenyellow;"
        (click)="line()">
        Line
    </div>
    <div style="width: 100px; cursor: pointer; border: solid 1px gray; display: flex; justify-content: center; align-items: center; background-color: lightgray; color: darkgray;"
        (click)="copy()">
        Copy Link
    </div>
</div>