<div class="Vision">
    <div class="Header">
        Register
    </div>

    <mat-form-field>
        <input matInput placeholder="Email" id="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Front Name" id="fName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Back Name" id="bName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Phone Number" id="phone">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Password" id="password">
    </mat-form-field>

    <button (click)="register()">Submit</button>
    
    <div class="social-network-wrap">
        <button class="btn-socmed" (click)="signInWithGoogle()">
            <div class="content">
                <img src="https://www.tiket.com/myaccount/assets/a02b4efb.svg">
            </div>
            <span>Google</span>
        </button>
        <hr class="btn-divider">
        <button class="btn-socmed" (click)="signInWithFB()">
            <div class="content">
                <img src="https://www.tiket.com/myaccount/assets/e6065a6f.svg">
            </div>
            <span>Facebook</span>
        </button>
    </div>
</div>