<div class="Vision">
    <div class="Header">
        Register
    </div>

    <mat-form-field>
        <input matInput placeholder="Email" id="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Front Name" id="fName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Back Name" id="bName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Phone Number" id="phone">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Password" id="password">
    </mat-form-field>

    <button (click)="register()">Submit</button>
    
    
</div>