<div class="container">
    <div class="header-container">
        <div class="header-left-side">
            <div class="left-link"><a [routerLink]="['/unduhaplikasi']" routerLinkActive="router-link-active">Unduh
                    aplikasi karcis.com</a></div>
            <div class="left-link"><a [routerLink]="['/promo']" routerLinkActive="router-link-active">Promo</a></div>
            <div class="left-link"><a [routerLink]="['/help']" routerLinkActive="router-link-active">Pusat Bantuan</a>
            </div>
        </div>
        <div class="header-right-side">
            <div>
                <mat-expansion-panel style="width: auto; height: auto; display: flex; flex-direction: column;">
                    <mat-expansion-panel-header style="font-size: small;">
                        <mat-panel-title>
                            {{language}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
    
                    <div>
                        <button mat-button *ngIf="language != 'EN'" (click)="changeLang('EN')">EN</button>
                    </div>
                    <div>
                        <button mat-button *ngIf="language != 'ID'" (click)="changeLang('ID')">ID</button>
                    </div>
                </mat-expansion-panel>

            </div>
            <div>
                <mat-expansion-panel style="width: auto; height: auto; display: flex; flex-direction: column;">
                    <mat-expansion-panel-header style="font-size: small;">
                        <mat-panel-title>
                            {{currency}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <div>
                        <button mat-button *ngIf="currency != 'USD'" (click)="changeCur('USD')">USD</button>
                    </div>
                    <div>
                        <button mat-button *ngIf="currency != 'IDR'" (click)="changeCur('IDR')">IDR</button>
                    </div>
                    <div>
                        <button mat-button *ngIf="currency != 'SGD'" (click)="changeCur('SGD')">SGD</button>
                    </div>
                </mat-expansion-panel>
                
            </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>