<div class="container">
    <div class="header-container">
        <div class="header-left-side">
            <div class="left-link"><a [routerLink]="['/unduhaplikasi']" routerLinkActive="router-link-active" >Unduh aplikasi karcis.com</a></div>
            <div class="left-link"><a [routerLink]="['/promo']" routerLinkActive="router-link-active" >Promo</a></div>
            <div class="left-link"><a [routerLink]="['/help']" routerLinkActive="router-link-active" >Pusat Bantuan</a></div>
        </div>
        <div class="header-right-side">
        </div>
    </div>
</div>
<router-outlet></router-outlet>