<div style="width: 90vw; display: flex; justify-content: center; align-items: center;">
    <div style="width: 90vw; height: 90vh; display: flex; justify-content: center; align-items: center;"
        *ngIf="!complete">
        <mat-spinner></mat-spinner>
    </div>


    <div [ngStyle]="{display: (complete) ? 'block' : 'none'}">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>

        <table mat-table [dataSource]="data" matSort>
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <div style="width:300px ;">
                        <img src="{{getPic(element)}}" style="width: 100%;">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                <td mat-cell *matCellDef="let element"> {{element.maskapai}} </td>
            </ng-container>

            <ng-container matColumnDef="depart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Depart </th>
                <td mat-cell *matCellDef="let element"> {{element.source}} <br> {{element.departTime.getDate()}}
                    {{months[element.departTime.getMonth()]}} {{element.departTime.getFullYear()}} <br>
                    {{element.departTime.getHours()}} : {{element.departTime.getMinutes()}}
                </td>
            </ng-container>

            <ng-container matColumnDef="arrive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrive </th>
                <td mat-cell *matCellDef="let element"> {{element.destination}} <br> {{element.arriveTime.getDate()}}
                    {{months[element.arriveTime.getMonth()]}} {{element.arriveTime.getFullYear()}} <br>
                    {{element.arriveTime.getHours()}} : {{element.arriveTime.getMinutes()}} </td>
            </ng-container>

            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef> Duration </th>
                <td mat-cell *matCellDef="let element"> {{getDate(element)}} </td>
            </ng-container>

            <ng-container cdkColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button md-raised-button (click)="update_e(element)">Edit</button>
                    <button md-raised-button (click)="delete_e(element)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[10]">
        </mat-paginator>

        <div (click)="insert()" style="display:flex;justify-content: center; align-items: center;
         width: 50px;font-size: 50px; height: 50px; position: absolute; right: 10px; bottom: 10px;
           border-radius: 25px; background-color: Gray; cursor: pointer;">
            +
        </div>
    </div>
</div>