<div>
    <p *ngFor="let message of messageLists">{{ message }}</p>
</div>
<div>
    <input type="text" [formControl]="messageControl" (keyup)="c()">
    <button *ngIf="aMessage" (click)="sendMessage()">Send</button>
</div>
<div>
    <button (click)="fileInput.click()" mat-button>Input Image</button>
    <input style="display: none" type="file" (change)="onFileChanged($event)" accept="image/*" size="1000" #fileInput>
</div>

<div *ngIf="image!=''" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="width: 500px;">
        <img src={{image}} style="width: 100%;" (click)="openlargeImage()">
    </div>
    <a href="{{image}}" download>Download</a>

</div>
