<div class="submit-btn back" (click)="backToMain()">
    Back To Home
</div>
<div class="chat-container">
    <div class="chat-wrapper">
        <div class="chat-data">
            <div *ngFor="let c of chats;let i = index">
                <div class="data" *ngIf="checkUserId(i)" style="justify-content: flex-start;">
                    <div class="chat-bubble" style="width: 35%;">
                        <div *ngIf="checkContentIsImage(i)==''">
                            {{c.content}}
                        </div>
                        <div *ngIf="checkContentIsImage(i)!=''">
                            <img src="assets/chat/{{checkContentIsImage(i)}}" class="chat-img" (click)="openImage(checkContentIsImage(i))">
                            <a href="http://localhost:4200/assets/chat/{{checkContentIsImage(i)}}" download="" style="text-decoration: none;">Download</a>
                        </div>
                    </div>
                </div>
                <div class="data" *ngIf="!checkUserId(i)" style="justify-content: flex-end;">
                    <div class="chat-bubble" style="width: 35%;">
                        <div *ngIf="checkContentIsImage(i)==''">
                            {{c.content}}
                        </div>
                        <div *ngIf="checkContentIsImage(i)!=''">
                            <img src="assets/chat/{{checkContentIsImage(i)}}" class="chat-img" (click)="openImage(checkContentIsImage(i))">
                            <a href="http://localhost:4200/assets/chat/{{checkContentIsImage(i)}}" download="" style="text-decoration: none;">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="bottom">
            <input type="file" #fileInput (change)="onFileChanged($event)" style="display: none;">
            <div class="submit-btn" (click)="fileInput.click()">Image</div>
            <input type="text" [formControl]="messageControl" (keyup)="c()">
            <button *ngIf="aMessage" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>

<!-- <div>
    <p *ngFor="let message of messageLists">{{ message }}</p>
</div>
<div>
    <input type="text" [formControl]="messageControl" (keyup)="c()">
    <button *ngIf="aMessage" (click)="sendMessage()">Send</button>
</div>
<div>
    <button (click)="fileInput.click()" mat-button>Input Image</button>
    <input style="display: none" type="file" (change)="onFileChanged($event)" accept="image/*" size="1000" #fileInput>
</div>

<div *ngIf="image!=''" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="width: 500px;">
        <img src={{image}} style="width: 100%;" (click)="openlargeImage()">
    </div>
    <a href="{{image}}" download>Download</a>

</div> -->
