<div class="card-right">
    <div class="signup-text">Log in/Daftar</div>
    <div class="signup-text-desc">Perjalanan serumu dimulai di sini.</div>
    <div class="input-wrap">
        <div class="hasLabel">
            <input name="username" #userinput type="text" placeholder="Nomor Ponsel atau Email">
        </div>
    </div>
    <div class="input-wrap">
        <button type="button" class="btn-custom" (click)="checkLogin()">Lanjutkan</button>
    </div>
    <div class="hr-with-txt"><span>atau dengan</span></div>
    <div class="social-network-wrap">
        <button class="btn-socmed" (click)="signInWithGoogle()">
            <div class="content">
                <img src="https://www.tiket.com/myaccount/assets/a02b4efb.svg">
            </div>
            <span>Google</span>
        </button>
        <hr class="btn-divider">
        <button class="btn-socmed" (click)="signInWithFB()">
            <div class="content">
                <img src="https://www.tiket.com/myaccount/assets/e6065a6f.svg">
            </div>
            <span>Facebook</span>
        </button>
    </div>
    <div class="agree-signup">Dengan mendaftar kamu menyetujui <a href="/privacy-policy">Kebijakan Privasi</a> dan
        <a href="/tos">Syarat &amp;
            Ketentuan</a> kami.<div class="hr"></div>
    </div>
</div>