<div>
    <button (click)="closeDetail()">Home > Entertainment > {{item.name}} </button>

</div>
<div style="display: flex;">
    <div class="imageViewer" style="width: 60%; height: auto;">
        <div style="width: 100%; height: auto;">
            <img src="{{imageChoosen}}"
                style="width: 100%; border-top-left-radius: 5px ; border-top-right-radius: 5px;">
        </div>
        <div style="display: flex; justify-content: space-evenly;">
            <div class="imageClick" (click)="changePic(1)">
                <img class="picCLick" src="{{item.photoLink1}}">
            </div>
            <div class="imageClick" (click)="changePic(2)">
                <img class="picCLick" src="{{item.photoLink2}}">
            </div>
            <div class="imageClick" (click)="changePic(3)">
                <img class="picCLick" src="{{item.photoLink3}}">
            </div>
            <div class="imageClick" (click)="changePic(4)">
                <img class="picCLick" src="{{item.photoLink4}}">
            </div>
            <div class="imageClick" (click)="changePic(5)">
                <img class="picCLick" src="{{item.photoLink5}}">
            </div>
            <div class="imageClick" (click)="changePic(6)">
                <img class="picCLick" src="{{item.photoLink6}}">
            </div>

        </div>
        <div class="">
            <div style="font-size: 2vw;">{{item.name}}</div>
            <div style="font-size: 1.7vw; color: rgba(0, 0, 0, 0.5);">{{item.location}}</div>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; width: 40%;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div>Mulai Dari</div>
            <div>IDR {{item.price}}</div>
            <div>
                <button>Cari Tiket</button>
            </div>
            <div>Category: {{item.category}}</div>
        </div>

        <div class="map-container">
            <div class="map-frame">
                <div #map id="map"></div>
            </div>
        </div>
    </div>
</div>
<div>
    <mat-tab-group>
        <mat-tab label="Description">
            <p>{{item.description}}</p>
        </mat-tab>
        <mat-tab label="S&K"> Term and Conditionssss HEHHEHHE </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
</div>
<div>
    <mat-form-field class="example-full-width">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" [(ngModel)]="qty">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dp" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

    <button mat-button (click)="check()">Check</button>

</div>