<div>
    <button (click)="back()">Back</button>
</div>
<div class="Vision">
    <div class="Header">
        Insert Ticket
    </div>

    <mat-form-field>
        <input matInput placeholder="Name" id="name" [(ngModel)]="name" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Latitude" id="latitude" [(ngModel)]="latitude" required>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Longitude" id="longitude" [(ngModel)]="longitude" required>
    </mat-form-field>
        
    <mat-form-field>
        <input matInput placeholder="Location" id="location" [(ngModel)]="location" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="PhotoLink" id="photolink" [(ngModel)]="photolink" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" step="1000" min="1000" placeholder="Price" id="price" [(ngModel)]="price"
            required>
    </mat-form-field>

    <app-text-editor (messageToEmit)="getMessage($event)"></app-text-editor>

    <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="category">
            <mat-option value="events">Event</mat-option>
            <mat-option value="activities">Activity</mat-option>
            <mat-option value="attractions">Attraction</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>dateLast</mat-label>
        <input id="date1" matInput [matDatepicker]="picker1" [(ngModel)]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <button (click)="openDialog()">Submit</button>
</div>