<div class="event-partner">
    <div class="partner-event-title">Partner Event</div>
    <div class="event-partner__partners">
        <div class="event-partner__partner">
            <img alt="event-partners" src="https://www.tiket.com/event/assets/funland.png">
        </div>
        <div class="event-partner__partner">
            <img alt="event-partners" src="https://www.tiket.com/event/assets/featured-image.png">
        </div>
        <div class="event-partner__partner">
            <img alt="event-partners" src="https://www.tiket.com/event/assets/waterboom.png">
        </div>
        <div class="event-partner__partner">
            <img alt="event-partners" src="https://www.tiket.com/event/assets/Uss.png">
        </div>
        <div class="event-partner__partner">
            <img alt="event-partners" src="https://www.tiket.com/event/assets/kidzania.png">
        </div>
        <div class="event-partner__partner">
            <img alt="event-partners" src="https://www.tiket.com/event/assets/bmg-logo.png">
        </div>
    </div>
    <div>
        <a class="event-partner__more-btn" href="https://en.tiket.com/partners/#partner-event">SELENGKAPNYA</a>
    </div>
</div>